<header class="egu-main">
  <h1>"Epic Group!"ussy</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/projects">Games</a></li>
      <li><a href="/ritest">RITest</a></li>
      <li><a href="/shop">Shop</a></li>
    </ul>
  </nav>
</header>
<main>
  $inner
</main>
<footer class="egu-main">
  <p id="copyright"></p>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let now = new Date();
      let year = now.getFullYear();

      let footerP = document.getElementById('copyright');
      footerP.innerHTML = `&copy; ${year} Epic Group!`;
    });
  </script>
  <nav>
    <ul>
      <li><a href="https://www.github.com/epic-group-ussy">Github</a></li>
    </ul>
  </nav>
</footer>