<style>
  header.egu-main nav ul {
    padding-top: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  header.egu-main nav li {
    display: inline-block;
    margin-right: 20px;
  }

  footer.egu-main {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    flex-grow: 1;
  }
</style>
<header class="egu-main">
  <h1>"Epic Group!"ussy</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <!--links to the games.html page-->
      <li><a href="/games">Games</a></li>
      <li><a href="/ritest">RITest</a></li>
    </ul>
  </nav>
</header>
<main>
  $inner
</main>
<footer class="egu-main">
  <p>&copy; 2023 "Epic Group!"ussy</p>
</footer>