<style>
  .egu-card-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .egu-card {
    background-color: var(--light);
    border-radius: 2rem;
    max-height: 16rem;
    min-height: 12rem;
    width: 18rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 2rem;
    color: var(--secondary);
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    /* Hide overflow */
  }

  .thumbnail-image {
    object-fit: cover;
    /* Ensure the image covers the entire container */
    border-radius: 2rem;
  }

  .egu-card:hover {
    cursor: unset;
  }

  .egu-card[href] {
    cursor: pointer;
  }

  .egu-card[href]:hover {
    outline-color: var(--primary);
    outline-width: 2px;
    outline-style: solid;
  }

  .egu-card>img:first-child {
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: calc(100% - 4rem);
  }
</style>
<div $href class='egu-card'>
  <img src="$img-src"></img>
  $inner
</div>