input[type=checkbox] {
  /* hide the default checkbox */
  display: none;
}

label {
  /* add a custom checkbox design */
  position: relative;
  cursor: pointer;
  padding-left: 1.3em;
}

/* create a custom box for the checkbox */
label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

input[type=checkbox]:checked+label:before {
  content: "\2713";
  text-align: center;
  color: #fff;
  background-color: #44be07;
  border: 1px solid #44be07;
}

#score {
  padding-bottom: 2rem;
}

#extrema {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
  background-color: var(--dark);
}

#ritzz h4 {
  color: var(--primary);
}

#extrema>div {
  padding-bottom: 1rem;
  padding-right: 5rem;
  flex-grow: 1;
}