#ritzz input[type=checkbox] {
  /* hide the default checkbox */
  display: none;
}

#ritzz label {
  /* add a custom checkbox design */
  position: relative;
  cursor: pointer;
  padding-left: 1.3em;
}

#ritzz li:hover {
  color: var(--primary);
}

/* create a custom box for the checkbox */
#ritzz label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: var(--light);
  border: 1px solid var(--dark);
}

#ritzz input[type=checkbox]:checked+label:before {
  content: "✔";
  text-align: center;
  color: var(--light);
  background-color: var(--primary);
}

#ritzz #score {
  padding-bottom: 2rem;
}

#ritzz #extrema {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
  background-color: var(--dark);
}

#ritzz h4 {
  color: var(--primary);
}

#ritzz #extrema>div {
  padding-bottom: 1rem;
  padding-right: 5rem;
  flex-grow: 1;
}